<div class="col-12">
  <h1 class="text-center m-3">Midi entre amis</h1>
  <div class="text-center m-3">
    <h4>
      L'appli qui vous guide le midi.<br>
      Trouvez votre bonheur et régalez-vous grâce à nos suggestions incroyables !
    </h4>
    <p>Petite ou grosse faim ?</p>
  </div>
</div>
