<div class="col-12">
  <h1 class="text-center my-3">Faites votre choix</h1>
  <h5 class="text-center mb-4">parmi nos <%= @restaurants.count %> suggestions</h5>
  <div class="col-lg-6 m-auto">
    <%= render 'search' %>
  </div>
  <div class="row ms-4">
    <%= render 'list', restaurants: @restaurants %>
  </div>
</div>